<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registrator</servlet-name>
        <servlet-class>servlets.Registrator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewList</servlet-name>
        <servlet-class>servlets.ViewList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Authorisation</servlet-name>
        <servlet-class>servlets.Authorisation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegistration</servlet-name>
        <servlet-class>servlets.UserRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitServlet</servlet-name>
        <servlet-class>servlets.InitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registrator</servlet-name>
        <url-pattern>/registrator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewList</servlet-name>
        <url-pattern>/view-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Authorisation</servlet-name>
        <url-pattern>/authorisation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegistration</servlet-name>
        <url-pattern>/userRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitServlet</servlet-name>
        <url-pattern>/InitServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
