body,h1,h2,h3,p,quote,small,form,input,ul,li,ol,label{
	margin:0px;
	padding:0px;
}

body{
	color:#555555;
	font-size:13px;
	background: url(img/dark_wood_texture.jpg) #282828;
	font-family:Arial, Helvetica, sans-serif;
}

.clear{
	clear:both;
}
#user-login {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    text-transform: uppercase;
}
#main-container{
	width:400px;
	margin:30px auto;
}

#form-container{
	background-color:#f5f5f5;
	padding:15px;
	
	-moz-border-radius:12px;
	-khtml-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius:12px;
}
#form-container h4 {
    margin-bottom: 0;
}

td{
	padding: 5px 10px;
	border: 1px solid grey;
	word-wrap:break-word;
        font-size: 0.8em;
}

a, a:visited {
	color:#00BBFF;
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:underline;
}

h1{
	color:#777777;
	font-size:22px;
	font-weight:normal;
	text-transform:uppercase;
	margin-bottom:5px;
}

h2{
	font-weight:normal;
	font-size:10px;
	
	text-transform:uppercase;
	
	color:#aaaaaa;
	margin-bottom:15px;
	
	border-bottom:1px solid #eeeeee;
	margin-bottom:15px;
	padding-bottom:10px;
}

label{
	text-transform:uppercase;
	font-size:.8em;
	font-family:Tahoma,Arial,Sans-serif;
}

textarea{
	color:#404040;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
}

td > button{
	text-indent:8px;
}

.error{
	background-color:#AB0000;
	color:white;
	font-size:10px;
	font-weight:bold;
	margin-top:10px;
	padding:10px;
	text-transform:uppercase;
	width:240px;
}

#loading{
	position:relative;
	bottom:9px;
	visibility:hidden;
}

.tutorial-info{
	color:white;
	text-align:center;
	padding:10px;
	margin-top:10px;
}

.place {
	    width: 100%;
    padding: 15px 0;
}
.place >input {
	margin-right: 6em;
    float: right;
}
#button, #button2, #button3, .choose  input[type=submit] {
	padding: 3px 5px;
    margin-right: 10px;
    margin-top: 15px;
}
form.auth input[type=submit]{
   margin-top: 0; 
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
	margin-top: 2em;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
	
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.grid-container {
	width: -moz-fit-content !important;
	width: -webkit-fit-content !important;
	width: fit-content !important;
	min-width: 400px !important;
}
.grid-container h1 {
	width: 20em;
}
table {
	width: 98%;
    border: 1px solid gray;
    margin: auto;
	border-collapse: collapse;
}

form.choose {
	margin: 5px;
    padding: 5px;
    border: 1px solid gray;
	position: relative;
	height: 3.2em;
}
.choose input[type=text], .place input[type=text]{
	background-color: #fffbc5;
}
	
.choose input[type=submit]{
    position: absolute;
    right: 0;
    bottom: 5px;	
}
.choose p {
	padding-bottom: 5px;
}
tr:nth-child(odd) {
	    background-color: #d5e1ec;
}
